<!DOCTYPE html>
<html lang="en">
 
<head>
    <%- include('partes/head') %>
</head>
 
<body class="container">
 
    <header>
        <%- include('partes/header') %>
    </header>
 
    <main>
       <div id="main-content" class="container">
        <table>
            <tbody>
                <tr>
                    <th>Título</th>
                    <th>Persona que ha prestado</th>
                    <th>Fecha de préstamo</th>
                    <th>Fecha de devolución</th>
                    <th>Estado del préstamo</th>
                </tr>
                <% reservas.forEach(function(reserva) { %>
                    <tr>
                        <td><%= reserva.libro.titulo %></td>
                        <td><%= reserva.usuario.nombre %> <%= reserva.usuario.apellidos %></td>
                        <td><%= reserva.fechaPrestamo %></td>
                        <td><%= reserva.fechaDevolucion %></td>
                        <td><%= reserva.estado %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        </div>
    </main>
 
    <footer>
        <%- include('partes/footer') %>
    </footer>
 
</body>
 
</html>